[package]
name = "casbin-grpc"
version = "0.1.0"
authors = ["hackerchai <i@hackerchai.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tonic = "0.4.3"
prost = "0.7.0"
tokio = { version = "1.6.1", features = ["full", "rt-multi-thread", "macros"] }
casbin = "2.0.7"

[build-dependencies]
tonic-build = "0.4.2"
